---
---
$black-color: #000000;
$white-color: #FFFFFF;
$primary-color: #4B0082;

$cover-width: 144px;
$cover-height: 144px;
$cover-desktop-width: 354px;
$cover-desktop-height: 100px;
$footer-line-height: 30px;
$footer-padding: 10px;
$footer-height: $footer-line-height + ($footer-padding * 2);
$main-padding: 15px;

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  padding-bottom: $footer-height;
}

a {
  color: $primary-color;
}

a:hover {
  color: lighten($primary-color, 15%);
}

main {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: $main-padding;
  background-color: $primary-color;
}

footer {
  width: 100%;
  height: $footer-height;
  padding: $footer-padding $main-padding;
  background-color: $white-color;
  color: $primary-color;
  font-size: 16px;
  text-align: right;

  .copyright {
    float: left;
    margin: 0;
    padding-right: $main-padding;
    font-weight: bold;
    line-height: $footer-line-height;
    text-align: left;
  }

  .social-links {
    height: $footer-line-height;
    list-style: none;
    margin: 1px 0 0 0;
    padding: 0;
    overflow: hidden;

    li {
      display: inline;

      a .fa {
        font-size: $footer-line-height;
      }
    }
  }

  .social-link-facebook:hover {
    color: #3A5795;
  }
  .social-link-github:hover {
    color: #333333;
  }
  .social-link-google-plus:hover {
    color: #DB4437;
  }
  .social-link-slack:hover {
    color: #E32072;
  }
  .social-link-twitter:hover {
    color: #1DA1F2;
  }
}

.cover-container {
  display: table-cell;
  vertical-align: middle;
}

.cover {
  width: $cover-desktop-width;
  margin: 0 auto;
}

.cover-heading {
  margin: 15px 0 0 0;
  color: $white-color;
  font-size: 72pt;
  font-weight: normal;
  text-align: center;
}

.cover-logo {
  display: block;
  width: $cover-desktop-width;
  height: $cover-desktop-height;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cover-logo-main {
  background-image: url('/assets/img/not-ninja-banner-invert-354x100.png');
  background-image: url('/assets/img/not-ninja-banner-invert.min.svg'), none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: $cover-desktop-width + ($main-padding * 2)) {
  .cover {
    width: 100%;
  }

  .cover-heading {
    font-size: 32pt;
  }

  .cover-logo {
    width: $cover-width;
    height: $cover-height;
  }

  .cover-logo-main {
    background-image: url('/assets/img/not-ninja-logo-invert-144x144.png');
    background-image: url('/assets/img/not-ninja-logo-invert.min.svg'), none;
  }
}
