---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% if page.title %}
      <title>{{ page.title }} &bull; {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="theme-color" content="#4B0082">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="!ninja">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4B0082">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="msapplication-TileColor" content="#4B0082">
    <meta name="msapplication-TileImage" content="/assets/img/not-ninja-logo-min-invert-144x144.png">

    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://not.ninja/assets/img/not-ninja-banner-fill-354x100.png">
    <meta property="og:image" content="https://not.ninja/assets/img/not-ninja-logo-fill-144x144.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://not.ninja{{ page.id }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://not.ninja/assets/img/not-ninja-banner-fill-354x100.png">
    <meta name="twitter:image" content="https://not.ninja/assets/img/not-ninja-logo-fill-144x144.png">

    <link rel="canonical" href="https://not.ninja{{ page.id }}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="icon" type="image/png" sizes="256x256" href="/assets/img/not-ninja-logo-min-fill-256x256.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/not-ninja-logo-min-fill-192x192.png">
    <link rel="icon" type="image/png" sizes="168x168" href="/assets/img/not-ninja-logo-min-fill-168x168.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/assets/img/not-ninja-logo-min-fill-144x144.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/not-ninja-logo-min-fill-96x96.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/assets/img/not-ninja-logo-min-fill-72x72.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/assets/img/not-ninja-logo-min-fill-48x48.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/assets/img/not-ninja-logo-min-fill-36x36.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/not-ninja-logo-min-fill-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/not-ninja-logo-min-fill-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/not-ninja-logo-min-fill-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/not-ninja-logo-min-fill-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/not-ninja-logo-min-fill-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/not-ninja-logo-min-fill-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/not-ninja-logo-min-fill-76x76.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
