---
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% if page.title or layout.title %}
      <title>
        {{ page.title | default: layout.title | escape }}
        {% if paginator and paginator.page > 1 %}(Page {{ paginator.page }}){% endif %}
        &middot; {{ site.title | escape }}
      </title>
    {% else %}
      <title>{{ site.title | escape }}</title>
    {% endif %}

    {% seo title=false %}
    {% feed_meta %}

    {% if page.previous %}
      <link rel="prev" href="{{ page.previous.url | absolute_url }}">
    {% endif %}
    {% if page.next %}
      <link rel="next" href="{{ page.next.url | absolute_url }}">
    {% endif %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <meta name="theme-color" content="#4B0082">

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/img/not-ninja-logo-min-fill-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="/assets/img/not-ninja-logo-min-fill-167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/assets/img/not-ninja-logo-min-fill-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/assets/img/not-ninja-logo-min-fill-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/assets/img/not-ninja-logo-min-fill-120x120.png">
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="/assets/js/analytics.js"></script>
  </body>
</html>
